*{
    padding:0%;
    margin:0%;
}

header{
    background-color: rgb(212, 166, 255);
}


body{
    background-image: url('peakpx.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment:local;
    background-color:rgb(212, 166, 255);
}

ul{
    list-style: none; 
    position:fixed;

}

ul li{
    float:left; 
    margin: 50px;
    font-size: 30px;
}


h1#link{
    font-family: "Pixelify Sans", sans-serif;
    font-size:100px;
    color:rgb(241, 230, 255);
}

h2#link2{
    font-family: "Dancing Script", cursive;
    font-size: 50px;
    color:rgb(255, 255, 255);
}

.botao{       
        border: solid 1px rgb(174, 92, 255);
        border-radius: 20px;
        color: rgb(122, 5, 255);
        background-color: rgb(174, 92, 255);
        transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
        width: 200px;
        height: 200px;       
        font-size:50px;
        font-family: "Pixelify Sans", sans-serif;
        position:
    }

 .botao:hover{
        background-color: rgb(122, 5, 255);
        color:rgb(174, 92, 255) ;
        transform: scale(1.2);
 }
    

