*{
    margin:0%;
    padding: 0%;
}

#header{
    width:1000px; height: 80px;
    background-color: rgb(183, 0, 255);
}

ul{
    list-style: none; width: 720px; float:left;
}

ul a{
   display: block;
   text-decoration: none;
   color: rgb(0, 236, 39);
   padding: 20px;
   font-size: 31px;
   font-family: 'Broadway', sans-serif;
}

ul a:hover{
background-color: rgb(0, 236, 39);
color: rgb(183, 0, 255);
}

ul li{
    float: left;
}

div{
   margin: 25px;
}

h2#link{
    font-family: 'Harlow Solid Italic', sans-serif;                                      
    font-size: 100px;
    color:rgb(255, 255, 255);
}